/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= ./normalize.css
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */
html{
  font-size: 62.5%;
  line-height: 62.5%;
  font-family: Arial, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
body{
  background-color: #f8f8f8;
  color: #1d2129;
}
header{
  z-index: 10!important;
  position: relative;
}
#container{
  margin: 52px auto;
  padding: 10px 0;
  overflow: hidden;
  z-index: 1!important;
  position: relative;
}
#container, .container-fluid{
  max-width: 960px;
}
.navbar{
  background-color: #ffffff;
  border-radius: 0;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #e4e4e4;
  position: fixed;
  top:0;
  width: 100%;
}
.navbar a{
  color: #000000;
}
.container-fluid{
  box-sizing: border-box;
  height: 100%;
}
.navbar-nav{
  float: right;
}
.nav a:hover{
  background-color: #385898!important;
}
.hidden{
  display: none;
}
