// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#profile{
  display: table;
  width: 100%;
  padding: 4rem 0;
}
#prof_left{
  display: table-cell;
  width: 30%;
}
#prof_left a {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
#prof_left a img{
  height: 100%;
  width:100%;
  object-fit: cover;
}
#prof_right{
  display: table-cell;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  vertical-align: middle;
  font-size: 1.6rem;
}

#prof_right li:first-child{
  margin-bottom: 1rem;
  overflow: hidden;
}
#prof_right li:first-child h2{
  margin: 0;
  padding: 0;
  font-size: 3rem;
  width: auto;
  display: block;
  float: left;
}
#prof_right li:first-child a{
  display: block;
  float: left;
  margin-left: 2rem;
  padding: 0.8rem;
  font-size: 1.4rem;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  line-height: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
}
#prof_right .menu_icon{
  height: 1rem;
  width: 1rem;
  margin-left: 0.5rem;
  fill: #000000;
  transition:all 0.15s ;
}
#prof_right li:nth-child(2){
  display: table;
  clear: both;
  margin-bottom: 1rem;
}
#prof_right li:nth-child(2) div{
  display: table-cell;
  padding-right: 4rem;
}
#prof_right li:nth-child(2) div span{
  font-weight: 500;
  padding: 0 0.5rem;
}
#prof_right h3{
  margin: 0 0 0.5rem;
  padding: 0;
  font-size: 1.6rem;
}
#my_articles{
  padding: 4rem 0 ;
  border-top: 1px solid #e4e4e4;
}
#my_articles ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#my_articles li {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0;
}
#my_articles li .add{
  display: block;
  height: 100%;
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
}
#my_articles li img{
  object-fit: cover;
  height: 100%;
  width:100%;
}
#my_articles li:first-child a{
  border: 1px solid #e4e4e4;
}
#my_articles li:nth-child(3n+1){
  padding-right: 20px;
}
#my_articles li:nth-child(3n+3){
  padding-left: 20px;
}
.add .add_icon{
  display: block;
  width: 25%;
  height: 25%;
  fill: #cccccc;
  transition:all 0.15s ;
}
.add:hover .add_icon{
  fill: #66c0ee;
}
.articleMenu{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;;
  color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.hiddenBox{
  background-color: rgba(0,0,0,0);
  opacity: 0;
  transition:all 0.35s ;
}
.hiddenBox:hover{
  background-color: rgba(0,0,0,0.45);
  opacity: 1;
}
.articleMenu nav{
  display: table;
  height: 4rem;
  width: 100%;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px #fff;
}
.articleMenu nav a{
  display: table-cell;
  height: 100%;
  position: relative;
}
.articleMenu nav a svg{
  position: absolute;
  top: 0!important;
  left: 0!important;
  height: 100%;
  width: 100%;
  fill: #ffffff;
  transition:all 0.3s ;
}
.articleMenu nav a:hover svg{
  fill: #00aaff;
}
.articleComment{
  overflow: hidden;
}

@media screen and (max-width:750px) {
  #my_articles li {
    margin-bottom: 4px;
  }
  #my_articles li:nth-child(3n+1){
    padding-right: 4px;
  }
  #my_articles li:nth-child(3n+3){
    padding-left: 4px;
  }
}
@media screen and (max-width:640px) {
  #prof_right li:first-child h2{
    width: 100%;
  }
  #prof_right li:first-child a{
    width:auto;
    margin: 1rem 0;
  }
}
